# say "Hello ,World!" with python

In [1]:
n="Hello, World!"
print(n)

Hello, World!

# python If-Else

In [3]:
n = int(input().strip())

if n % 2 == 1:
    print("Weird")
else:
    if n%2==0 and 2<=n<=5:
       print("Not Weird")
    elif n%2==0 and 6<=n<=20:
        print("Weird")
    else:  
        print("Not Weird")

 24

Not Weird

# Arthimatic Operators

In [4]:
a = int(input())
b = int(input())
print(a + b)  
print(a - b)   
print(a * b)

 3
 2

5
1
6

# python Division

In [5]:
a = int(input())
b = int(input())
print(a // b)  
print(a / b)

 4
 3

1
1.3333333333333333

# Loops

In [6]:
n =int(input())
for i in range(n):
    print(i * i)

 5

0
1
4
9
16

# write a function

In [1]:
year=int(input())
def is_leap(year):
    if year%400==0:
        return True
    if year%100==0:
        return False
    if year%4==0:
        return True
    return False
print(is_leap(year))

 1990

False

# print function

In [2]:
n=int(input())
for i in range(1,n+1):
    print(i,end="")

 3

123